@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --color-primary: #219f95;
  --color-secondary: #234894;
  --color-white: #ffffff;
  --color-black: #1e1e1e;
  --color-gray: #696969;
  --color-blue: #afcedd;
}

body,
* {
  font-family: Vazirmatn;
}

h1,
h2,
h3 {
  color: var(--color-black);
  font-weight: 900;
}
